@page
@model WebApplication_Landjugend.Pages.GeschichteModel
@{
    ViewData["Title"] = "Geschicht";
}

<h1>Unsere Geschichte</h1>
<p>Hier findest du Informationen zu unserem entstehen und wirken.</p>