@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="content-center">
    <div class="section-title">
        <hr />
        <h2>Willkommen auf unserer Homepage</h2>
        <hr />
    </div>

    <p>Hier findest du alles rund um die KLJB-Aichen:</p>

    <!-- Wenn der Flyer ein Bild ist -->
    <img src="/images/LogoSticker.png" alt="Logo Sticker" class="Logo" />


</div>